<h1>Create old exam</h1>

<%= form_for(@old_exam) do |f| %>
  <%# prints out if anny errors in form %>
  <% if @old_exam.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-warning">
        The form contains <%= pluralize(@old_exam.errors.count, "error") %>.
      </div>
      <ul>
        <% @old_exam.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter title" %>
  </div>

  <div class="form-group">
    <%= f.label :file %>
    <%= f.file_field :file, multiple: false, direct_upload: true %>
  </div>

  <%= f.submit "Create old_exam", class: "btn btn-primary" %>
<% end %>
