<% provide(:title, 'Show Old Exam') %>
<h1><%= @old_exam.title %></h1>

<div class="row justify-content-center">

  <div class="col-md-4">

    <% if duser_signed_in? %>
      <%= form_for(current_duser.comments.build) do |f| %>
        <% if current_duser.comments.build.errors.any? %>
          bite
        <% end %>
        <div><%= f.hidden_field :old_exam_id, value: @old_exam.id %></div>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control", placeholder: "Enter comment" %>
        </div>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, multiple: false, class: "form-control-file" %>
        </div>
        <%= f.submit "Post", class: "btn btn-primary" %>
      <% end %>
    <% end %>
    
    <%= render "card_old_exam" %>

  </div>

  <div class="col-md-8">
    <% @comments.each do |comment| %>
      <div class="list-group list-group-flush">
        <div class="list-group-item">
          <h6>By <%= comment.duser.email %>
          <% if comment.duser.admin? %><span class="badge badge-info">class representative</span><% end %>
          <div class="btn-group">
            <% if current_duser.try(:admin?) %>
              <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu">
                <%= link_to "Delete", comment_path(comment.id), method: :delete, class: "dropdown-item" %>
              </div>
            <% end %>
          </div></h6>
          <div><%= comment.content %></div>
          <% if comment.image.attached? %>
            <div>
              <a href="<%= rails_blob_path(comment.image, disposition: "attachment") %>">
                <img src="<%= url_for(comment.image) %>" alt="attached image" style="width: 150px;"/>
              </a>
            </div>
          <% end %>
          <small>Posted <%= time_ago_in_words comment.created_at %> ago</small>
        </div>
      </div>
    <% end %>
    <%= will_paginate @comments, page_links: false, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>

</div>
