<h1><%= @old_exam.title %></h1>

<div class="row justify-content-center">

  <div class="col-md-4">

    <% if logged_in? %>

      <%= form_for(current_user.comments.build) do |f| %>
        <div><%= f.hidden_field :old_exam_id, value: @old_exam.id %></div>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control", placeholder: "Enter comment" %>
        </div>
        <%= f.submit "Post", class: "btn btn-primary" %>
      <% end %>

    <% end %>
    <div class="card my-3">
      <% if @old_exam.file.previewable? %>
        <%= image_tag(@old_exam.file.preview(resize: "300x300>"), class: "card-img-top") %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @old_exam.title %> <% if @old_exam.created_at >= 1.day.ago %><span class="badge badge-secondary">New</span><% end %></h5>
        <div class="btn-group-vertical" role="group" aria-label="Basic example">
          <%= link_to "Download", rails_blob_path(@old_exam.file, disposition: "attachment"), class: "btn btn-primary btn-md", role: "button" %>
          <% if current_user.admin? %>
            <%= link_to "Update", edit_old_exam_path(@old_exam.id), class: "btn btn-secondary btn-md", role: "button" %>
            <%= link_to "Delete", old_exam_path(@old_exam.id), method: :delete, class: "btn btn-secondary btn-md", role: "button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <% @old_exam.comments.each do |comment| %>
      <div class="list-group list-group-flush">
        <div class="list-group-item">
          <h6>By <%= comment.user.name %></h6>
          <div><%= comment.content %></div>
          <small>Posted <%= time_ago_in_words comment.created_at %> ago</small>
        </div>
      </div>
    <% end %>
  </div>

</div>
