<div class="accordion" id="accordionCourses">
  <% @courses.each do |course| %>
    <% @course = course %>
    <div class="card">
      <div class="card-header" id="heading<%= course.id %>">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= course.id %>" aria-expanded="true" aria-controls="collapse<%= course.id %>">
            <%= course.name %>
          </button>
        </h5>
      </div>

      <div id="collapse<%= course.id %>" class="collapse" aria-labelledby="heading<%= course.id %>" data-parent="#accordionCourses">
        <div class="card-body">
          <p class="card-text"><%= course.description %></p>

          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar courses">

            <div class="btn-group mr-2" role="group" aria-label="First group">
              <%= render 'courses/follow_form' if logged_in? %>
            </div>

            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <%= link_to "Show", course_path(@course.id), class: "btn btn-primary" %>
              <% if logged_in? and current_user.admin? and current_page?(controller: 'courses') %>
                <%= link_to "Update", edit_course_path(course.id), class: "btn btn-secondary" %>
                <%= link_to "Delete", course_path(course.id), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-secondary" %>
              <% end %>
            </div>

          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @courses, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
