<h1>List of available courses</h1>
<div class="accordion" id="accordionExample">
  <% @courses.each do |course| %>
  <div class="card">
    <div class="card-header" id="heading<%= course.name %>">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= course.name %>" aria-expanded="true" aria-controls="collapse<%= course.name %>">
          <%= course.name %>
        </button>
      </h5>
    </div>

    <div id="collapse<%= course.name %>" class="collapse" aria-labelledby="heading<%= course.name %>" data-parent="#accordionExample">
      <div class="card-body">
        <p class="card-text"><%= course.description %></p>

        <% if logged_in? %>
          <% if not current_user.courses.exists?(course.id) %>

            <%= form_for(current_user.followments.build) do |f| %>
              <div><%= hidden_field_tag :course_id, course.id %></div>
              <%= f.submit "Follow", class: "btn btn-primary" %>
            <% end %>

          <% else %>

            <%= form_for(current_user.followments.find_by(course_id: course.id), html: { method: :delete }) do |f| %>
              <%= f.submit "Unfollow", class: "btn" %>
            <% end %>

          <% end %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
</div>
