<h1>List of available courses</h1>
<div class="accordion" id="accordionExample">
  <% @courses.each do |course| %>
  <div class="card">
    <div class="card-header" id="heading<%= course.name %>">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= course.name %>" aria-expanded="true" aria-controls="collapse<%= course.name %>">
          <%= course.name %>
        </button>
      </h5>
    </div>

    <div id="collapse<%= course.name %>" class="collapse" aria-labelledby="heading<%= course.name %>" data-parent="#accordionExample">
      <div class="card-body">
          <%= course.description %>
      </div>
    </div>
  </div>
  <% end %>
</div>
